p {
  text-align: center;
  font-family: montserrat;
  margin: 0;
}

.header {
  font-weight: bold;
  font-size: 42px;
}

.descript {
  margin-top: 15px;
}

.touchless {
  text-decoration: underline;
}
